*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif, system-ui;
  color: #2b283a;
  scroll-behavior: smooth;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
  font-size: 1.6rem;
  line-height: 1.4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/* Typography */

h1 {
  color: whitesmoke;
  font-size: 3.6rem;
  margin-bottom: 0.5rem;
}

header h2 {
  color: #d0aaff;
  font-size: 2rem;
}

section h2 {
  font-size: 2.4rem;
  margin-bottom: 2.5rem;
}

.product-section {
  color: whitesmoke;
}

footer {
  text-align: center;
  color: #5f29a3;
}

/* Links */

.crafting__link {
  color: #ef5839;
  text-decoration-style: dotted;
}

.crafting__link:hover,
.crafting__link:active {
  color: #d4b44c;
}

.link__style {
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  font-weight: 500;
  text-decoration: none;
  display: inline-block;
  font-size: 1.6rem;
  margin: 1.5rem 1rem 1rem 0;
}

.link__style:hover,
.link__style:active {
  background-color: #f3e885;
  color: #2b283a;
}

.purchase__link {
  background-color: #5f29a3;
  color: whitesmoke;
}

.info__link {
  background-color: #f0e0ff;
  color: #5f29a3;
}

.about__link {
  background-color: whitesmoke;
  color: #5f29a3;
}

/* Images */

.section__image {
  width: 100%;
  max-width: 64rem;
  margin: 0 auto 2.5rem;
}

.product__imgs--align img {
  width: 100%;
  border-radius: 0.46rem;
  margin-bottom: 2rem;
}

.product__imgs--align div {
  flex: 1 260px;
}

/* Layouts */

header,
.product-section {
  background-color: #5f29a3;
}

.container {
  width: 90%;
  max-width: 80rem;
  margin: 0 auto;
  padding: 4.5rem 0;
}

.product__imgs--align {
  display: flex;
  gap: 2rem;
}

/* Navigation */

ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}

li a {
  color: whitesmoke;
  font-size: 2rem;
  text-decoration: none;
  font-weight: 500;
}

li a:hover,
li a:active {
  color: #d4b44c;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Media Queries */

@media (max-width: 480px) {
  .product__imgs--align {
    flex-direction: column;
  }

  .product__imgs--align img {
    width: 100%;
  }

  .container {
    padding: 3rem 0;
  }
}

@media (max-width: 768px) {
  .link__style {
    display: block;
    text-align: center;
  }
}

@media (max-width: 900px) {
  .nav-bar,
  ul {
    display: block;
    text-align: center;
  }

  nav {
    margin-top: 3rem;
  }

  ul li:not(:last-child) {
    border-bottom: 1px dotted #a190b6;
    padding: 1rem 0;
  }

  ul li:last-child {
    padding-top: 1rem;
  }
}
